<!-- Boton Búsqueda  -->
<button type="button" class="btn btn-warning btn-search fs-3" data-bs-toggle="modal" data-bs-target="#searchNotes">
  <i class="bi bi-search" style="font-size: 100%"></i></button>

<!-- Boton Agregar Nota-->
<button type="button" class="btn btn-warning btn-add-contact fs-3" data-bs-toggle="modal" data-bs-target="#addNotes">
  <i class="bi bi-plus-lg" style="font-size: 150%"></i></button>

<!-- Botón retroceso -->
<button type="button" *ngIf="isSearch" class="btn btn-warning btn-add-find-back fs-3" (click)="isSearchNote()"><i class="bi bi-reply-fill"></i></button>

<!-- Botón Ordenar  -->
<div class="btn-group">
  <button type="button" class="btn btn-warning dropdown-toggle mt-3" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-sort-down" style="font-size: 150%"></i></button>

  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#" (click)="sortAsc()">A-Z</a></li>
    <li><a class="dropdown-item" href="#"(click)="sortDesc()">Z-A</a></li>
   
  </ul>
</div>

<!-- Visualización de Notas -->
<div class="visualization">
  <div class="list-group mt-5">
    <div *ngFor="let notes of postNotes; let i = index">
      <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-80 justify-content-between">
          <h5 class="mb-1">{{notes.noteName}} </h5>
          <small class="text-muted">
            <i class="bi bi-pencil-fill fs-3 text-secondary text-opacity-80" data-bs-toggle="modal"
              data-bs-target="#editNotes" (click)="editNote(notes._id)"></i>
            <i class="bi bi-trash3-fill fs-3 ms-3 text-danger text-opacity-80" (click)="deleteNotes(notes._id)"></i>            
          </small>
        </div>
        <span><p class="mb-1">{{notes.noteBody}} </p></span>
      </a>
    </div>
  </div>
</div>

<!-- Modal AGREGAR Nota -->
<div class="modal fade" id="addNotes" tabindex="-1" aria-labelledby="addNotesModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addNotesModal">{{modalTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Input de Nota -->
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"></label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Título de Nota"
            [(ngModel)]="noteName">
        </div>
        <div class="mb-3">

          <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Escribe tu nota acá"
            [(ngModel)]="noteBody"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="clearModal()">Cerrar</button>
        <button type="button" class="btn btn-warning" (click)="addNotes()" data-bs-dismiss="modal">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal EDITAR Nota -->
<div class="modal fade" id="editNotes" tabindex="-1" aria-labelledby="editNotesModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addNotesModal">{{modalTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Input de Nota -->
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"></label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Título de Nota"
            [(ngModel)]="noteEdit.noteName">
        </div>
        <div class="mb-3">

          <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Escribe tu nota acá"
            [(ngModel)]="noteEdit.noteBody"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-warning" (click)="updateNote()" data-bs-dismiss="modal">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Búsqueda -->
<div class="modal fade" id="searchNotes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Búsqueda de Notas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- Input de Búsqueda -->
        <div class="mb-3">
          <div class="modal-body">
            <input class="form-control mt-3" type="text" placeholder="Buscar por título" [(ngModel)]="noteName">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-warning" (click)="searchNote()" data-bs-dismiss="modal">Buscar</button>
        </div>
      </div>
    </div>
  </div>
</div>



